<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>brillo.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{569,569}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{569,569}}</string>
<key>sourceSize</key>
<string>{569,569}</string>
</dict>
<key>brillo_1.png</key>
<dict>
<key>frame</key>
<string>{{2,573},{208,206}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{46,47},{208,206}}</string>
<key>sourceSize</key>
<string>{300,300}</string>
</dict>
<key>flor1.png</key>
<dict>
<key>frame</key>
<string>{{415,683},{82,84}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{9,8},{82,84}}</string>
<key>sourceSize</key>
<string>{100,100}</string>
</dict>
<key>flor_1.png</key>
<dict>
<key>frame</key>
<string>{{363,683},{48,50}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{26,25},{48,50}}</string>
<key>sourceSize</key>
<string>{100,100}</string>
</dict>
<key>hoja1.png</key>
<dict>
<key>frame</key>
<string>{{256,765},{17,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{17,14}}</string>
<key>sourceSize</key>
<string>{17,14}</string>
</dict>
<key>hoja2.png</key>
<dict>
<key>frame</key>
<string>{{274,745},{13,14}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,0},{13,14}}</string>
<key>sourceSize</key>
<string>{15,14}</string>
</dict>
<key>points.png</key>
<dict>
<key>frame</key>
<string>{{287,573},{158,74}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{1,2},{158,74}}</string>
<key>sourceSize</key>
<string>{160,80}</string>
</dict>
<key>points_bonus.png</key>
<dict>
<key>frame</key>
<string>{{212,573},{170,73}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{170,73}}</string>
<key>sourceSize</key>
<string>{170,73}</string>
</dict>
<key>points_timebonus.png</key>
<dict>
<key>frame</key>
<string>{{289,733},{86,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{7,0},{86,40}}</string>
<key>sourceSize</key>
<string>{100,40}</string>
</dict>
<key>reloj_brillo.png</key>
<dict>
<key>frame</key>
<string>{{468,573},{103,108}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{19,6},{103,108}}</string>
<key>sourceSize</key>
<string>{143,120}</string>
</dict>
<key>reloj_fondo.png</key>
<dict>
<key>frame</key>
<string>{{363,573},{103,108}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{19,6},{103,108}}</string>
<key>sourceSize</key>
<string>{143,120}</string>
</dict>
<key>reloj_manija1.png</key>
<dict>
<key>frame</key>
<string>{{212,771},{6,38}}</string>
<key>offset</key>
<string>{0,18}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{57,23},{6,38}}</string>
<key>sourceSize</key>
<string>{120,120}</string>
</dict>
<key>reloj_manija2.png</key>
<dict>
<key>frame</key>
<string>{{212,745},{24,24}}</string>
<key>offset</key>
<string>{10,11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{58,37},{24,24}}</string>
<key>sourceSize</key>
<string>{120,120}</string>
</dict>
<key>trozo1.png</key>
<dict>
<key>frame</key>
<string>{{238,745},{20,16}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,2},{20,16}}</string>
<key>sourceSize</key>
<string>{20,20}</string>
</dict>
<key>trozo2.png</key>
<dict>
<key>frame</key>
<string>{{256,745},{18,16}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,3},{18,16}}</string>
<key>sourceSize</key>
<string>{20,20}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>AnimationSpritesheet.png</string>
<key>size</key>
<string>{573,781}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:7a39d9594373bd24f869e30b36dd0428$</string>
<key>textureFileName</key>
<string>AnimationSpritesheet.png</string>
</dict>
</dict>
</plist>
