<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>left_button_gh.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{124,95}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{8,3},{124,95}}</string>
<key>sourceSize</key>
<string>{140,101}</string>
</dict>
<key>left_button_gh_press.png</key>
<dict>
<key>frame</key>
<string>{{508,2},{114,87}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,7},{114,87}}</string>
<key>sourceSize</key>
<string>{140,101}</string>
</dict>
<key>ls_button_gh.png</key>
<dict>
<key>frame</key>
<string>{{624,2},{172,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{9,3},{172,34}}</string>
<key>sourceSize</key>
<string>{190,40}</string>
</dict>
<key>ls_button_gh_press.png</key>
<dict>
<key>frame</key>
<string>{{624,38},{156,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{17,5},{156,30}}</string>
<key>sourceSize</key>
<string>{190,40}</string>
</dict>
<key>more_games.png</key>
<dict>
<key>frame</key>
<string>{{318,2},{188,93}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,4},{188,93}}</string>
<key>sourceSize</key>
<string>{190,101}</string>
</dict>
<key>more_games_press.png</key>
<dict>
<key>frame</key>
<string>{{128,2},{188,93}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,5},{188,93}}</string>
<key>sourceSize</key>
<string>{190,101}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>BrandingSpritesheet.png</string>
<key>size</key>
<string>{798,99}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:cf18f9004b28248780fd57e6e8077130$</string>
<key>textureFileName</key>
<string>BrandingSpritesheet.png</string>
</dict>
</dict>
</plist>
