<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>1.png</key>
<dict>
<key>frame</key>
<string>{{847,840},{28,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,28}}</string>
<key>sourceSize</key>
<string>{28,28}</string>
</dict>
<key>2.png</key>
<dict>
<key>frame</key>
<string>{{847,810},{28,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,28}}</string>
<key>sourceSize</key>
<string>{28,28}</string>
</dict>
<key>3.png</key>
<dict>
<key>frame</key>
<string>{{847,780},{28,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{28,28}}</string>
<key>sourceSize</key>
<string>{28,28}</string>
</dict>
<key>_tutorial1_piezas2.png</key>
<dict>
<key>frame</key>
<string>{{294,1885},{152,177}}</string>
<key>offset</key>
<string>{-6,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{152,177}}</string>
<key>sourceSize</key>
<string>{164,177}</string>
</dict>
<key>_tutorial2_piezas.png</key>
<dict>
<key>frame</key>
<string>{{703,283},{244,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,1},{244,128}}</string>
<key>sourceSize</key>
<string>{244,130}</string>
</dict>
<key>_tutorial3_pajaro.png</key>
<dict>
<key>frame</key>
<string>{{473,1885},{151,164}}</string>
<key>offset</key>
<string>{-1,-4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,8},{151,164}}</string>
<key>sourceSize</key>
<string>{153,172}</string>
</dict>
<key>_tutorial3_reloj.png</key>
<dict>
<key>frame</key>
<string>{{213,1669},{79,287}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{79,287}}</string>
<key>sourceSize</key>
<string>{79,287}</string>
</dict>
<key>_tutorial_boton.png</key>
<dict>
<key>frame</key>
<string>{{823,529},{181,55}}</string>
<key>offset</key>
<string>{1,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{7,0},{181,55}}</string>
<key>sourceSize</key>
<string>{193,57}</string>
</dict>
<key>_tutorial_boton_press.png</key>
<dict>
<key>frame</key>
<string>{{833,283},{181,55}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,2},{181,55}}</string>
<key>sourceSize</key>
<string>{193,57}</string>
</dict>
<key>_tutorial_fondo2.png</key>
<dict>
<key>frame</key>
<string>{{2,1669},{312,209}}</string>
<key>offset</key>
<string>{0,-2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{24,27},{312,209}}</string>
<key>sourceSize</key>
<string>{360,259}</string>
</dict>
<key>actual_level.png</key>
<dict>
<key>frame</key>
<string>{{249,732},{489,398}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{489,398}}</string>
<key>sourceSize</key>
<string>{489,398}</string>
</dict>
<key>bandera.png</key>
<dict>
<key>frame</key>
<string>{{868,1782},{14,25}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{14,25}}</string>
<key>sourceSize</key>
<string>{14,25}</string>
</dict>
<key>boton_.png</key>
<dict>
<key>frame</key>
<string>{{748,979},{257,97}}</string>
<key>offset</key>
<string>{1,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,0},{257,97}}</string>
<key>sourceSize</key>
<string>{259,99}</string>
</dict>
<key>boton_pause.png</key>
<dict>
<key>frame</key>
<string>{{810,1699},{83,81}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,2},{83,81}}</string>
<key>sourceSize</key>
<string>{85,85}</string>
</dict>
<key>boton_pause_press.png</key>
<dict>
<key>frame</key>
<string>{{810,1616},{83,81}}</string>
<key>offset</key>
<string>{1,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,4},{83,81}}</string>
<key>sourceSize</key>
<string>{85,85}</string>
</dict>
<key>boton_press_.png</key>
<dict>
<key>frame</key>
<string>{{748,720},{257,97}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,2},{257,97}}</string>
<key>sourceSize</key>
<string>{259,99}</string>
</dict>
<key>calendario.png</key>
<dict>
<key>frame</key>
<string>{{847,747},{30,31}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{30,31}}</string>
<key>sourceSize</key>
<string>{30,31}</string>
</dict>
<key>cangrejoideas.png</key>
<dict>
<key>frame</key>
<string>{{639,1900},{120,122}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,0},{120,122}}</string>
<key>sourceSize</key>
<string>{122,122}</string>
</dict>
<key>divisor.png</key>
<dict>
<key>frame</key>
<string>{{473,2038},{2,98}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,1},{2,98}}</string>
<key>sourceSize</key>
<string>{10,100}</string>
</dict>
<key>flechas_previous_levels.png</key>
<dict>
<key>frame</key>
<string>{{190,1983},{21,33}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{10,99},{21,33}}</string>
<key>sourceSize</key>
<string>{43,231}</string>
</dict>
<key>flechas_previous_levels_press.png</key>
<dict>
<key>frame</key>
<string>{{761,1428},{43,231}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{43,231}}</string>
<key>sourceSize</key>
<string>{43,231}</string>
</dict>
<key>fondo_marcado.png</key>
<dict>
<key>frame</key>
<string>{{760,1238},{188,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{188,128}}</string>
<key>sourceSize</key>
<string>{188,128}</string>
</dict>
<key>gamehouse.png</key>
<dict>
<key>frame</key>
<string>{{761,1900},{116,116}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{116,116}}</string>
<key>sourceSize</key>
<string>{116,116}</string>
</dict>
<key>hint.png</key>
<dict>
<key>frame</key>
<string>{{492,1666},{196,215}}</string>
<key>offset</key>
<string>{-2,-5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,10},{196,215}}</string>
<key>sourceSize</key>
<string>{200,225}</string>
</dict>
<key>hint_bg.png</key>
<dict>
<key>frame</key>
<string>{{249,1449},{200,217}}</string>
<key>offset</key>
<string>{0,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,6},{200,217}}</string>
<key>sourceSize</key>
<string>{200,225}</string>
</dict>
<key>hint_disabled.png</key>
<dict>
<key>frame</key>
<string>{{294,1668},{196,215}}</string>
<key>offset</key>
<string>{-2,-5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,10},{196,215}}</string>
<key>sourceSize</key>
<string>{200,225}</string>
</dict>
<key>hint_press.png</key>
<dict>
<key>frame</key>
<string>{{451,1449},{196,215}}</string>
<key>offset</key>
<string>{-2,-5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,10},{196,215}}</string>
<key>sourceSize</key>
<string>{200,225}</string>
</dict>
<key>how_to_play.png</key>
<dict>
<key>frame</key>
<string>{{2,1983},{186,56}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{186,56}}</string>
<key>sourceSize</key>
<string>{188,58}</string>
</dict>
<key>how_to_play_press.png</key>
<dict>
<key>frame</key>
<string>{{806,1428},{186,56}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,1},{186,56}}</string>
<key>sourceSize</key>
<string>{188,58}</string>
</dict>
<key>logo_titulo.png</key>
<dict>
<key>frame</key>
<string>{{703,2},{279,165}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,0},{279,165}}</string>
<key>sourceSize</key>
<string>{285,165}</string>
</dict>
<key>menu_boton_.png</key>
<dict>
<key>frame</key>
<string>{{810,1840},{56,56}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,1},{56,56}}</string>
<key>sourceSize</key>
<string>{58,58}</string>
</dict>
<key>menu_boton_press_.png</key>
<dict>
<key>frame</key>
<string>{{810,1782},{56,56}}</string>
<key>offset</key>
<string>{-1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,2},{56,56}}</string>
<key>sourceSize</key>
<string>{58,58}</string>
</dict>
<key>nomoves_fondo2.png</key>
<dict>
<key>frame</key>
<string>{{558,524},{133,196}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{133,196}}</string>
<key>sourceSize</key>
<string>{133,196}</string>
</dict>
<key>pantalla4_.png</key>
<dict>
<key>frame</key>
<string>{{2,732},{935,245}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{935,245}}</string>
<key>sourceSize</key>
<string>{935,245}</string>
</dict>
<key>pantalla5.png</key>
<dict>
<key>frame</key>
<string>{{630,1242},{188,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{188,128}}</string>
<key>sourceSize</key>
<string>{188,128}</string>
</dict>
<key>pantalla_de_texto.png</key>
<dict>
<key>frame</key>
<string>{{693,529},{189,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{189,128}}</string>
<key>sourceSize</key>
<string>{189,128}</string>
</dict>
<key>pantalla_ppal_lienzo.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{554,728}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{58,0},{554,728}}</string>
<key>sourceSize</key>
<string>{670,730}</string>
</dict>
<key>pantalla_ppal_logo.png</key>
<dict>
<key>frame</key>
<string>{{249,1223},{379,224}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,29},{379,224}}</string>
<key>sourceSize</key>
<string>{381,282}</string>
</dict>
<key>ppal_boton_play.png</key>
<dict>
<key>frame</key>
<string>{{649,983},{257,97}}</string>
<key>offset</key>
<string>{1,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,0},{257,97}}</string>
<key>sourceSize</key>
<string>{259,99}</string>
</dict>
<key>ppal_boton_play_press.png</key>
<dict>
<key>frame</key>
<string>{{649,722},{259,97}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,2},{259,97}}</string>
<key>sourceSize</key>
<string>{259,99}</string>
</dict>
<key>tutorial_flecha_der2.png</key>
<dict>
<key>frame</key>
<string>{{847,712},{33,33}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,1},{33,33}}</string>
<key>sourceSize</key>
<string>{35,35}</string>
</dict>
<key>tutorial_flecha_der2_press.png</key>
<dict>
<key>frame</key>
<string>{{213,1958},{35,33}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,2},{35,33}}</string>
<key>sourceSize</key>
<string>{35,35}</string>
</dict>
<key>tutorial_flecha_izq2.png</key>
<dict>
<key>frame</key>
<string>{{250,1958},{33,33}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,1},{33,33}}</string>
<key>sourceSize</key>
<string>{35,35}</string>
</dict>
<key>tutorial_flecha_izq2_press.png</key>
<dict>
<key>frame</key>
<string>{{833,466},{35,33}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,2},{35,33}}</string>
<key>sourceSize</key>
<string>{35,35}</string>
</dict>
<key>ui_barra_fondo_.png</key>
<dict>
<key>frame</key>
<string>{{558,2},{143,520}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{143,520}}</string>
<key>sourceSize</key>
<string>{143,520}</string>
</dict>
<key>ui_score_.png</key>
<dict>
<key>frame</key>
<string>{{690,1662},{236,118}}</string>
<key>offset</key>
<string>{2,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,0},{236,118}}</string>
<key>sourceSize</key>
<string>{240,120}</string>
</dict>
<key>ui_score_borde2.png</key>
<dict>
<key>frame</key>
<string>{{649,1432},{228,110}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,5},{228,110}}</string>
<key>sourceSize</key>
<string>{240,120}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>GameSpritesheet.png</string>
<key>size</key>
<string>{895,2042}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:9c5d2a3cf9969635cf7eb0730e3f1f04$</string>
<key>textureFileName</key>
<string>GameSpritesheet.png</string>
</dict>
</dict>
</plist>
