<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>boton_continue.png</key>
<dict>
<key>frame</key>
<string>{{464,735},{111,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{1,3},{111,30}}</string>
<key>sourceSize</key>
<string>{113,36}</string>
</dict>
<key>boton_continue_press.png</key>
<dict>
<key>frame</key>
<string>{{432,735},{111,30}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{1,4},{111,30}}</string>
<key>sourceSize</key>
<string>{113,36}</string>
</dict>
<key>boton_download.png</key>
<dict>
<key>frame</key>
<string>{{379,637},{156,51}}</string>
<key>offset</key>
<string>{1,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,0},{156,51}}</string>
<key>sourceSize</key>
<string>{162,53}</string>
</dict>
<key>boton_download_press.png</key>
<dict>
<key>frame</key>
<string>{{929,278},{156,51}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{3,2},{156,51}}</string>
<key>sourceSize</key>
<string>{162,53}</string>
</dict>
<key>brush.png</key>
<dict>
<key>frame</key>
<string>{{306,637},{237,71}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,3},{237,71}}</string>
<key>sourceSize</key>
<string>{241,77}</string>
</dict>
<key>game_over.png</key>
<dict>
<key>frame</key>
<string>{{163,637},{141,405}}</string>
<key>offset</key>
<string>{-9,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,3},{141,405}}</string>
<key>sourceSize</key>
<string>{183,411}</string>
</dict>
<key>hm.png</key>
<dict>
<key>frame</key>
<string>{{525,722},{272,217}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,2},{272,217}}</string>
<key>sourceSize</key>
<string>{272,219}</string>
</dict>
<key>level_completed.png</key>
<dict>
<key>frame</key>
<string>{{2,637},{159,405}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,4},{159,405}}</string>
<key>sourceSize</key>
<string>{183,411}</string>
</dict>
<key>menu_fondo.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{508,633}}</string>
<key>offset</key>
<string>{5,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{41,55},{508,633}}</string>
<key>sourceSize</key>
<string>{580,737}</string>
</dict>
<key>menu_musica_boton.png</key>
<dict>
<key>frame</key>
<string>{{929,628},{94,78}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{3,0},{94,78}}</string>
<key>sourceSize</key>
<string>{100,80}</string>
</dict>
<key>menu_musica_boton_press.png</key>
<dict>
<key>frame</key>
<string>{{920,920},{96,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,0},{96,80}}</string>
<key>sourceSize</key>
<string>{100,80}</string>
</dict>
<key>menu_sinmusica_boton.png</key>
<dict>
<key>frame</key>
<string>{{929,532},{94,78}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,0},{94,78}}</string>
<key>sourceSize</key>
<string>{100,80}</string>
</dict>
<key>menu_sinmusica_boton_press.png</key>
<dict>
<key>frame</key>
<string>{{922,822},{96,80}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{1,0},{96,80}}</string>
<key>sourceSize</key>
<string>{100,80}</string>
</dict>
<key>menu_sinsonido.png</key>
<dict>
<key>frame</key>
<string>{{929,436},{94,78}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{3,0},{94,78}}</string>
<key>sourceSize</key>
<string>{100,80}</string>
</dict>
<key>menu_sinsonido_press.png</key>
<dict>
<key>frame</key>
<string>{{922,724},{96,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,0},{96,80}}</string>
<key>sourceSize</key>
<string>{100,80}</string>
</dict>
<key>menu_sonido.png</key>
<dict>
<key>frame</key>
<string>{{432,637},{96,78}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,0},{96,78}}</string>
<key>sourceSize</key>
<string>{100,80}</string>
</dict>
<key>menu_sonido_press.png</key>
<dict>
<key>frame</key>
<string>{{799,1058},{96,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,0},{96,80}}</string>
<key>sourceSize</key>
<string>{100,80}</string>
</dict>
<key>mf1.png</key>
<dict>
<key>frame</key>
<string>{{306,876},{272,217}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,2},{272,217}}</string>
<key>sourceSize</key>
<string>{272,219}</string>
</dict>
<key>mf2.png</key>
<dict>
<key>frame</key>
<string>{{525,941},{272,207}}</string>
<key>offset</key>
<string>{0,-6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,12},{272,207}}</string>
<key>sourceSize</key>
<string>{272,219}</string>
</dict>
<key>resultado_boton_no.png</key>
<dict>
<key>frame</key>
<string>{{799,974},{119,82}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,1},{119,82}}</string>
<key>sourceSize</key>
<string>{121,84}</string>
</dict>
<key>resultado_boton_no_press.png</key>
<dict>
<key>frame</key>
<string>{{799,890},{119,82}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,2},{119,82}}</string>
<key>sourceSize</key>
<string>{121,84}</string>
</dict>
<key>resultado_boton_si.png</key>
<dict>
<key>frame</key>
<string>{{799,806},{121,82}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,1},{121,82}}</string>
<key>sourceSize</key>
<string>{121,84}</string>
</dict>
<key>resultado_boton_si_press.png</key>
<dict>
<key>frame</key>
<string>{{799,722},{121,82}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,2},{121,82}}</string>
<key>sourceSize</key>
<string>{121,84}</string>
</dict>
<key>resultado_fondo_.png</key>
<dict>
<key>frame</key>
<string>{{512,2},{718,415}}</string>
<key>offset</key>
<string>{6,-5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{12,10},{718,415}}</string>
<key>sourceSize</key>
<string>{730,425}</string>
</dict>
<key>tutorial_boton.png</key>
<dict>
<key>frame</key>
<string>{{2,1044},{272,77}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,1},{272,77}}</string>
<key>sourceSize</key>
<string>{294,79}</string>
</dict>
<key>tutorial_boton_press.png</key>
<dict>
<key>frame</key>
<string>{{929,2},{274,77}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{11,2},{274,77}}</string>
<key>sourceSize</key>
<string>{294,79}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>spritesheetOptions.png</string>
<key>size</key>
<string>{1010,1150}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:8a3a300828da739d12912df43af6b771$</string>
<key>textureFileName</key>
<string>spritesheetOptions.png</string>
</dict>
</dict>
</plist>
