<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>Stones/tile1_type1_82x92.png</key>
<dict>
<key>frame</key>
<string>{{458,118},{54,46}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,23},{54,46}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile1_type2_82x92.png</key>
<dict>
<key>frame</key>
<string>{{206,138},{32,66}}</string>
<key>offset</key>
<string>{-11,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,11},{32,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile1_type3_82x92.png</key>
<dict>
<key>frame</key>
<string>{{2,146},{50,68}}</string>
<key>offset</key>
<string>{-4,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,10},{50,68}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile1_type4_82x92.png</key>
<dict>
<key>frame</key>
<string>{{158,2},{50,66}}</string>
<key>offset</key>
<string>{-4,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,11},{50,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile1_type5_82x92.png</key>
<dict>
<key>frame</key>
<string>{{156,70},{50,66}}</string>
<key>offset</key>
<string>{-4,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,11},{50,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile1_type6_82x92.png</key>
<dict>
<key>frame</key>
<string>{{106,138},{50,66}}</string>
<key>offset</key>
<string>{-4,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,11},{50,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile1_type7_82x92.png</key>
<dict>
<key>frame</key>
<string>{{2,74},{48,70}}</string>
<key>offset</key>
<string>{-3,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,11},{48,70}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile1_type8_82x92.png</key>
<dict>
<key>frame</key>
<string>{{106,2},{50,66}}</string>
<key>offset</key>
<string>{-4,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,11},{50,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile1_type9_82x92.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{50,70}}</string>
<key>offset</key>
<string>{-4,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,11},{50,70}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type1_82x92.png</key>
<dict>
<key>frame</key>
<string>{{402,217},{40,40}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{22,26},{40,40}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type2_82x92.png</key>
<dict>
<key>frame</key>
<string>{{362,64},{38,60}}</string>
<key>offset</key>
<string>{-8,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,11},{38,60}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type3_82x92.png</key>
<dict>
<key>frame</key>
<string>{{104,70},{50,66}}</string>
<key>offset</key>
<string>{-4,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,10},{50,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type4_82x92.png</key>
<dict>
<key>frame</key>
<string>{{54,142},{50,66}}</string>
<key>offset</key>
<string>{-4,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,10},{50,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type5_82x92.png</key>
<dict>
<key>frame</key>
<string>{{54,2},{50,66}}</string>
<key>offset</key>
<string>{-4,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,10},{50,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type6_82x92.png</key>
<dict>
<key>frame</key>
<string>{{52,74},{50,66}}</string>
<key>offset</key>
<string>{-4,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,10},{50,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type7_82x92.png</key>
<dict>
<key>frame</key>
<string>{{2,216},{48,62}}</string>
<key>offset</key>
<string>{-3,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,11},{48,62}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type8_82x92.png</key>
<dict>
<key>frame</key>
<string>{{158,138},{46,66}}</string>
<key>offset</key>
<string>{-5,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,10},{46,66}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile2_type9_82x92.png</key>
<dict>
<key>frame</key>
<string>{{264,2},{50,62}}</string>
<key>offset</key>
<string>{-4,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,11},{50,62}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile3_type1_82x92.png</key>
<dict>
<key>frame</key>
<string>{{316,2},{56,60}}</string>
<key>offset</key>
<string>{4,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{17,11},{56,60}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile3_type2_82x92.png</key>
<dict>
<key>frame</key>
<string>{{262,68},{50,62}}</string>
<key>offset</key>
<string>{7,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{23,11},{50,62}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile3_type3_82x92.png</key>
<dict>
<key>frame</key>
<string>{{210,2},{52,64}}</string>
<key>offset</key>
<string>{6,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{21,11},{52,64}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile3_type4_82x92.png</key>
<dict>
<key>frame</key>
<string>{{208,70},{52,64}}</string>
<key>offset</key>
<string>{6,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{21,10},{52,64}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile4_type1_82x92.png</key>
<dict>
<key>frame</key>
<string>{{314,66},{46,62}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,11},{46,62}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile4_type2_82x92.png</key>
<dict>
<key>frame</key>
<string>{{258,200},{50,62}}</string>
<key>offset</key>
<string>{-4,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,11},{50,62}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile4_type3_82x92.png</key>
<dict>
<key>frame</key>
<string>{{240,136},{50,62}}</string>
<key>offset</key>
<string>{-3,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,10},{50,62}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile4_type4_82x92.png</key>
<dict>
<key>frame</key>
<string>{{292,132},{46,62}}</string>
<key>offset</key>
<string>{-5,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,11},{46,62}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile5_type1_82x92.png</key>
<dict>
<key>frame</key>
<string>{{310,196},{60,56}}</string>
<key>offset</key>
<string>{-1,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{10,12},{60,56}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile5_type2_82x92.png</key>
<dict>
<key>frame</key>
<string>{{402,64},{54,56}}</string>
<key>offset</key>
<string>{0,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,12},{54,56}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile5_type3_82x92.png</key>
<dict>
<key>frame</key>
<string>{{124,206},{52,58}}</string>
<key>offset</key>
<string>{-2,6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,11},{52,58}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile5_type4_82x92.png</key>
<dict>
<key>frame</key>
<string>{{66,210},{54,56}}</string>
<key>offset</key>
<string>{0,6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,12},{54,56}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile6_type1_82x92.png</key>
<dict>
<key>frame</key>
<string>{{458,60},{56,48}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,22},{56,48}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile6_type2_82x92.png</key>
<dict>
<key>frame</key>
<string>{{408,2},{56,48}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,22},{56,48}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile6_type3_82x92.png</key>
<dict>
<key>frame</key>
<string>{{458,2},{56,48}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,22},{56,48}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type1_82x92.png</key>
<dict>
<key>frame</key>
<string>{{454,174},{32,50}}</string>
<key>offset</key>
<string>{-1,-5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{24,26},{32,50}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type2_82x92.png</key>
<dict>
<key>frame</key>
<string>{{454,208},{34,56}}</string>
<key>offset</key>
<string>{-1,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{23,20},{34,56}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type3_82x92.png</key>
<dict>
<key>frame</key>
<string>{{380,126},{36,58}}</string>
<key>offset</key>
<string>{-2,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{21,18},{36,58}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type4_82x92.png</key>
<dict>
<key>frame</key>
<string>{{418,159},{34,56}}</string>
<key>offset</key>
<string>{-2,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{22,20},{34,56}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type5_82x92.png</key>
<dict>
<key>frame</key>
<string>{{220,206},{36,58}}</string>
<key>offset</key>
<string>{-2,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{21,18},{36,58}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type6_82x92.png</key>
<dict>
<key>frame</key>
<string>{{368,192},{32,60}}</string>
<key>offset</key>
<string>{-2,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{23,16},{32,60}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type7_82x92.png</key>
<dict>
<key>frame</key>
<string>{{374,2},{32,60}}</string>
<key>offset</key>
<string>{-3,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{22,16},{32,60}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type8_82x92.png</key>
<dict>
<key>frame</key>
<string>{{178,206},{40,58}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{21,18},{40,58}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>Stones/tile7_type9_82x92.png</key>
<dict>
<key>frame</key>
<string>{{340,130},{38,60}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{22,16},{38,60}}</string>
<key>sourceSize</key>
<string>{82,92}</string>
</dict>
<key>currentTile.png</key>
<dict>
<key>frame</key>
<string>{{418,122},{35,38}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,1},{35,38}}</string>
<key>sourceSize</key>
<string>{35,40}</string>
</dict>
<key>previousTile.png</key>
<dict>
<key>frame</key>
<string>{{490,208},{17,19}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{17,19}}</string>
<key>sourceSize</key>
<string>{17,19}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>TilesSpritesheet.png</string>
<key>size</key>
<string>{509,266}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:f4c035898179a4d7c449a30322453185$</string>
<key>textureFileName</key>
<string>TilesSpritesheet.png</string>
</dict>
</dict>
</plist>
